<div id="<%= dom_id forum %>">
  <p>
    <strong>Author:</strong>
    <%id = forum.user_id%>
    <% u = User.find(id) %>
    <%= u.email %>
    
  </p>

  <p>
    <strong>Title:</strong>
    <%= forum.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= forum.content %>
  </p>

  <p> <%= link_to "Comments", comments_path(forum.id) %>
  

</div>
